<!DOCTYPE html>
<html>
<head>
<title>Main page</title>
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
    </style>
</head>
<body>

<h1>Absence taker</h1>
<p>This is the content of the landing page</p>
<h4>About us</h4>
<p>
    Imperdiet a, venenatis vitae, justo. Nullam
    tincidunt. Cras dapibus. Vivamus elementum semper nisi.
    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
    viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
    varius laoreet. Quisque rutrum. Aenean
</p>
<button type="button" onclick="location.href = '/create_school'">Create school</button><br><br>
<button type="button" onclick="location.href = '/log_in'">Log In</button>
</body>
</html>